* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --main-color: #5a2d82;
  --secondary-color: #9852d6;
  --white: #fff;
  --gray-100: #eee;
  --gray-200: #ccc;
  --gray-500: #222;
  --gray-800: #555;
  --black: #000;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  background-color: var(--white);
}

body,
input,
textarea,
button {
  font: 500 1rem Inter, sans-serif;
  color: var(--gray-500);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: Lexend, sans-serif;
  color: var(--gray-500);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2%;
}

.MuiSvgIcon-colorPrimary {
  color: #fff !important;
}

.MuiSvgIcon-colorSecondary {
  color: #888 !important;
}

.swiper-pagination-bullet-active {
  background: var(--secondary-color) !important;
}
