.product_section {
  display: flex;
  align-items: stretch;
  height: 100vh;
  padding: 5rem;
}

.product_info {
  width: 500px;
  margin-left: 20px;

  p {
    margin-top: 20px;
  }

  h2 {
    margin-top: 10px;
    color: var(--secondary-color);
    font-size: 2rem;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.img {
  object-fit: contain;
}
